.otp-page {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal {
    background: white;
    padding: 24px;
    border-radius: 12px;
    width: 400px;
    position: relative;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    height: 250px;
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 22px;
    border: none;
    background: transparent;
    cursor: pointer;
}

.title {
    text-align: center;
    margin-bottom: 36px;
    font-size: 20px;
    font-weight: 600;
    margin-left: 70px;
}

.otp-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-bottom: 20px;
}

.submit-btn {
    background-color: rgb(255, 174, 0);
    color: white;
    border: none;
    padding: 10px 0;
    width: 100%;
    border-radius: 20px;
    font-weight: lighter;
    cursor: pointer;
    font-size: 18px;
}

.iframe-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    pointer-events: none;
}