.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding-top: 40px;
    margin-bottom: 50px;
}

.title {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 30px;
    text-align: center;
}

.card {
    width: 500px;
    background: #fff;
    padding: 45px 35px;
    border-radius: 8px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    height: 400px;
    margin-left: 20px;
}

.lockIcon {
    font-size: 90px;
    margin-bottom: 20px;
}

.input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    margin-bottom: 15px;
    font-size: 15px;
}

.input:focus {
    border-color: #2196f3;
}

.button {
    width: 160px;
    padding: 12px;
    background: #ff7a00;
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.button:hover {
    background: #e46c00;
}