.contactContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    padding: 40px 20px;
}

.formSection {
    flex: 1;
    min-width: 350px;
    max-width: 500px;
}

.heading {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}

.heading span {
    color: rgb(7, 7, 7);
    border-bottom: 2px solid orange;
    padding-bottom: 2px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form input,
.form textarea {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
    width: 100%;
    resize: none;
}

.row {
    display: flex;
    gap: 10px;
}

.row input {
    flex: 1;
}

button {
    width: 90px;
    padding: 10px 0;
    background-color: #ff8c00;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    align-self: flex-start;
    margin-left: 170px;
}

button:hover {
    background-color: #ff8c00;
}

.mapSection {
    flex: 1;
    min-width: 350px;
    max-width: 500px;
    height: 400px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}


/* contact media css */

@media (min-width: 110px) and (max-width: 768px) {
    .contactContainer {
        display: flex;
        flex-direction: column;
        padding: 16px 12px;
        gap: 20px;
    }
    .formSection {
        width: 100%;
    }
    .heading {
        font-size: 22px;
        text-align: center;
        margin-bottom: 16px;
    }
    .heading span {
        color: #000000;
    }
    .form {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    .form input,
    .form textarea {
        width: 100%;
        padding: 10px;
        font-size: 14px;
        border: 1px solid #ccc;
        border-radius: 6px;
    }
    .form .row {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    .form textarea {
        resize: vertical;
    }
    .form button {
        width: 50%;
        padding: 12px;
        background-color: #f97316;
        color: white;
        font-size: 16px;
        font-weight: 600;
        border: none;
        border-radius: 6px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        align-items: center;
    }
    .form button:hover {
        background-color: #e06c00;
    }
    .mapSection {
        width: 100%;
        height: 350px;
        border-radius: 8px;
        overflow: hidden;
    }
    .mapSection iframe {
        width: 100%;
        height: 350%;
        border: none;
    }
}

@media (min-width: 376px) and (max-width: 430px) {
    .contactContainer {
        display: flex;
        flex-direction: column;
        padding: 10px 10px;
        gap: 20px;
    }
    .formSection {
        width: 100%;
    }
    .heading {
        font-size: 22px;
        text-align: center;
        margin-bottom: 16px;
    }
    .heading span {
        color: #000000;
    }
    .form {
        display: flex;
        flex-direction: column;
        gap: 12px;
        width: 300px;
    }
    .form input,
    .form textarea {
        width: 100%;
        padding: 10px;
        font-size: 14px;
        border: 1px solid #ccc;
        border-radius: 6px;
    }
    .form .row {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    .form textarea {
        resize: vertical;
    }
    .form button {
        width: 30%;
        padding: 12px;
        background-color: #f97316;
        color: white;
        font-size: 16px;
        font-weight: 600;
        border: none;
        border-radius: 6px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        align-items: center;
    }
    .form button:hover {
        background-color: #e06c00;
    }
    .mapSection {
        width: 60%;
        height: 500px;
        border-radius: 8px;
        overflow: hidden;
    }
    .mapSection iframe {
        width: 100%;
        height: 50 0%;
        border: none;
    }
}

@media (min-width: 431px) and (max-width: 540px) {
    .contactContainer {
        gap: 20px;
    }
    .formSection {
        width: 100%;
    }
    .heading {
        font-size: 22px;
        text-align: center;
        margin-bottom: 16px;
    }
    .heading span {
        color: #000000;
    }
    .form {
        display: flex;
        flex-direction: column;
        gap: 12px;
        width: 300px;
    }
    .form input,
    .form textarea {
        width: 100%;
        padding: 10px;
        font-size: 14px;
        border: 1px solid #ccc;
        border-radius: 6px;
    }
    .form .row {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    .form textarea {
        resize: vertical;
    }
    .form button {
        width: 30%;
        padding: 12px;
        background-color: #f97316;
        color: white;
        font-size: 16px;
        font-weight: 600;
        border: none;
        border-radius: 6px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        align-items: center;
    }
    .form button:hover {
        background-color: #e06c00;
    }
    .mapSection {
        width: 80%;
        height: 400px;
        border-radius: 8px;
        overflow: hidden;
        margin-left: 40px;
    }
    .mapSection iframe {
        width: 100%;
        height: 500%;
        border: none;
    }
}