.container {
    display: flex;
    padding: 40px 20px;
    margin: 0 auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* Sidebar */

.sidebar {
    width: 290px;
    border: 1px solid #ddd;
    padding: 20px;
    height: 400px;
    margin-top: 40px;
    margin-left: 350px;
}

.logo {
    color: orange;
    margin-bottom: 15px;
}

.navList {
    list-style: none;
    padding: 0;
}

.navList li {
    padding: 15px 0;
    border-bottom: 1px dotted #ccc;
    cursor: pointer;
    font-size: 15px;
}

.navList li:hover {
    color: #f38a00;
}

.maincontainer {
    flex: 1;
    margin-left: 4px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px 20px;
    max-width: 800px;
}

.resetBox {
    border: 1px solid #ddd;
    padding: 20px;
    width: 600px;
    height: auto;
    margin-left: 30px;
    margin-top: 40px;
}

.resetTitle {
    margin-bottom: 20px;
    font-size: 24px;
    border-bottom: 1px dotted #ccc;
    padding: 15px 0;
    font-weight: bold;
}

.formGrid {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.formGrid input {
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 45px;
}

.submitBtnSection {
    margin-top: 20px;
}

.submitBtn {
    padding: 10px 20px;
    border: none;
    background-color: #f38200;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.submitBtn:hover {
    background-color: #fc9c1f;
}