.service-detail-container {
    width: 100%;
    max-width: 1100px;
    margin: auto;
    padding: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.service-heading-box {
    position: absolute;
    top: 150px;
    left: 150px;
    padding: 8px 90px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 400;
    color: #333;
    border: 1px solid rgb(221, 220, 220);
    display: flex;
    align-items: left;
    gap: 10px;
    margin-bottom: 20px;
}

.service-heading-box.active {
    background-color: rgb(56, 53, 53);
    color: white;
}

.service-heading-box.active p {
    color: white;
}


/* .service-heading-box.active img {
    filter: brightness(0) invert(1);
 
} */

.all-services-heading {
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: 400px;
    margin-bottom: 20px;
    flex-basis: 100%;
}

.service-box {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.08);
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    max-height: 900px;
    /* 🔹 max-height better than fixed height */
    overflow-y: auto;
    /* vertical scroll */
    box-sizing: border-box;
}

.service-box::-webkit-scrollbar {
    width: 6px;
}

.service-box::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.service-box::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.05);
}

.service-detail-box {
    flex: 1 1 45%;
    /* width adjust for 2 boxes side by side */
    max-width: 45%;
    padding: 20px;
    box-shadow: 0 4px 18px rgba(92, 92, 92, 0.1);
    border: 1px solid rgb(228, 228, 228);
    background: white;
    border-radius: 5px;
    box-sizing: border-box;
    /* important */
}

.service-banner .banner-img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.service-title {
    font-size: 17px;
    font-weight: 400;
    margin-top: 20px;
}

.service-rating {
    color: #ff9900;
    margin-top: 6px;
    font-size: 16px;
}

.service-price {
    font-size: 22px;
    margin-top: 12px;
    font-weight: bold;
}

.service-time {
    color: #555;
    margin-top: 8px;
}

.service-title-row {
    display: flex;
    align-items: center;
    /* vertically center title ane button */
    justify-content: space-between;
    /* title left, button right */
    margin-bottom: 10px;
}

.btn-add {
    padding: 6px 12px;
    border-radius: 25px;
    background: #fff;
    color: black;
    border: none;
    cursor: pointer;
    font-size: 14px;
    transition: 0.3s;
    border: 1px solid #a0a0a0;
}

.btn-add:hover {
    background: #fff;
}

.qty-box {
    display: flex;
    align-items: center;
    gap: 10px;
    background: #f0f0f0;
    padding: 6px 12px;
    border-radius: 8px;
    font-weight: bold;
}

.qty-box button {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: none;
    background: #ff8800;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}

.image-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

.image-modal img {
    max-width: 90%;
    max-height: 90%;
}


/* Top right controls */

.modal-controls {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    gap: 10px;
}

.modal-btn {
    border: none;
    padding: 8px 12px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 6px;
}

.modal-btn:hover {
    background: #ddd;
}

.service-points {
    margin-top: 20px;
    line-height: 28px;
    padding-left: 20px;
}

.service-actions {
    margin-top: 30px;
    display: flex;
    gap: 15px;
}

.btn-outline,
.btn-filled {
    padding: 10px 20px;
    border-radius: 25px;
    border: 1px solid #ff6600;
    cursor: pointer;
    transition: 0.3s;
    font-size: 15px
}

.btn-outline {
    background: #fff;
    color: #ff6600;
}

.btn-filled {
    background: #fff;
    color: #ff6600;
}

.btn-outline:hover {
    background: #ff6600;
    color: #fff;
}

.btn-filled:hover {
    background: #ff6600;
    color: #fff;
}

.side-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 3000;
}

.side-modal {
    position: absolute;
    top: 0;
    right: 0;
    width: 580px;
    height: 100%;
    background: white;
    padding: 20px;
    overflow-y: auto;
    animation: slideLeft 0.3s ease forwards;
}

@keyframes slideLeft {
    from {
        right: -500px;
    }
    to {
        right: 0;
    }
}

.side-modal-header {
    position: sticky;
    top: -20px;
    z-index: 999;
    background: #fff;
    padding: 14px 18px;
    margin: 0;
    /* remove default margin */
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close-btn {
    border: none;
    background: transparent;
    font-size: 24px;
    cursor: pointer;
}

.close-btn:hover {
    background-color: #fff;
}

.divider {
    width: 100%;
    height: 1px;
    background-color: #e0e0e0;
    /* light gray */
    margin: 10px 0 15px 0;
    /* space around divider */
}

.side-modal-img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 8px;
    margin-top: 10px;
}

.side-modal-points li {
    margin: 6px 0;
    font-size: 15px;
}

.details-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 12px 0;
}

.title-left {
    font-size: 18px;
    font-weight: 600;
}

.price-right {
    font-size: 18px;
    font-weight: bold;
    color: #ff5733;
    /* red-ish color */
}

.time {
    display: inline-block;
    background: #2e2e2e;
    padding: 2px 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 10px 0;
    color: #eee;
}

.rating-left,
.time-left {
    margin: 4px 0;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.spec-title {
    font-size: 18px;
    font-weight: 700;
    margin-top: 15px;
    color: #333;
}

.spec-card {
    border: 1px solid #e5e5e5;
    padding: 14px;
    border-radius: 12px;
    background: #fff;
    margin-top: 12px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.08);
}

.spec-box {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    margin-top: 10px;
}

.spec-small-img {
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.spec-text {
    display: flex;
    flex-direction: column;
}

.spec-heading {
    font-size: 16px;
    font-weight: 700;
    color: #ff6a00;
    /* orange color */
}

.spec-desc {
    font-size: 14px;
    margin-top: 4px;
    color: #555;
}

.spec-bottom-img-box {
    margin-top: 12px;
}

.spec-bottom-img {
    width: 300px;
    height: auto;
    border-radius: 12px;
    object-fit: cover;
    display: block;
}

.spec-bottom-img-box1 {
    margin-top: 12px;
}

.spec-bottom-img1 {
    width: 400px;
    height: auto;
    border-radius: 12px;
    object-fit: cover;
    display: block;
}

.review-title {
    font-size: 20px;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 10px;
}

.review-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 12px 14px;
    border-radius: 12px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.review-user-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.review-user-info {
    flex: 1;
    margin-left: 12px;
}

.review-name {
    font-size: 16px;
    font-weight: 600;
}

.review-location {
    font-size: 13px;
    color: #777;
    margin-top: 2px;
}

.review-rating {
    font-size: 18px;
    font-weight: 700;
    color: #ffa500;
    /* orange star */
}

.image-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.85);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.modal-controls {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    gap: 12px;
}

.modal-btn {
    background: white;
    border: none;
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
}

.modal-main-img {
    max-width: 80%;
    max-height: 80%;
    border-radius: 10px;
}


/* Gallery */

.modal-gallery {
    position: absolute;
    right: 20px;
    top: 80px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.thumb-img {
    width: 80px;
    height: 80px;
    border-radius: 6px;
    cursor: pointer;
    object-fit: cover;
    border: 2px solid white;
    transition: 0.3s;
}

.thumb-img:hover {
    transform: scale(1.05);
    border-color: orange;
}