.container {
    padding: 24px;
    font-family: Arial, sans-serif;
    color: #999;
    width: 1600px;
}

.breadcrumb {
    font-size: 14px;
    color: #666;
    margin-bottom: 16px;
    text-align: left;
}

.bold {
    font-weight: 400;
    font-size: 19px;
}

.link {
    color: #2563eb;
}

.card {
    background: #fff;
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.addBtn {
    background: #3b82f6;
    color: #fff;
    padding: 8px 16px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: 15px;
}

.addBtn:hover {
    background: #2563eb;
}

.controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    font-size: 14px;
}

.select,
.search {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 4px 8px;
    font-size: 14px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #888;
    font-size: 15px;
    text-align: left;
}

.table th {
    text-align: left;
    padding: 12px 8px;
    color: #555;
    border-bottom: 1px solid #eee;
}

.table td {
    padding: 12px 8px;
    border-bottom: 1px solid #eee;
}

.status {
    padding: 4px 12px;
    border-radius: 12px;
    font-size: 12px;
    font-weight: 500;
    display: inline-block;
    min-width: 80px;
    /* Fixed width for stability */
    text-align: center;
}

.activeStatus {
    background-color: #ccf5f8;
    color: #00bcd4;
}

.inactiveStatus {
    background: #fee2e2;
    color: #dc2626;
    /* Red text */
}

.editBtn {
    background: #f59e0b;
    color: #fff;
    padding: 6px 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-right: 8px;
    font-size: 16px;
}

.editBtn:hover {
    background: #d97706;
}


/* Common button style with fixed width */

.actionBtn {
    padding: 6px 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    min-width: 90px;
    /* fixed width to avoid shifting */
    text-align: center;
    font-size: 16px;
}

.activateBtn {
    background: #22c55e;
    color: #fff;
}

.activateBtn:hover {
    background: #15803d;
}

.deactivateBtn {
    background: #ef4444;
    color: #fff;
}

.deactivateBtn:hover {
    background: #b91c1c;
}