.container {
    display: flex;
    flex-direction: column;
    /* Full viewport height */
    width: 200%;
    padding: 20px;
    background-color: #f4f6f9;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.topRow {
    display: flex;
    align-items: center;
    gap: 15px;
}

.select {
    padding: 8px 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.filterGroup {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.filterBtn {
    background: #4b76f1;
    color: white;
    padding: 7px 12px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 15px;
}

.filterBtn:hover {
    background: #345ad6;
}

.headerContainer {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;
    border-radius: 8px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 24px;
}

.card {
    background-color: #ffffff;
    padding: 16px 24px;
    border-radius: 8px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.breadcrumb {
    font-size: 18px;
    color: #6b7280;
}

.breadcrumbActive {
    font-size: 14px;
    color: #2563eb;
    font-weight: 500;
}

.container h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 16px;
    color: #b9b9b9;
    text-align: left;
}

.addBtn {
    background-color: #3478f7;
    color: white;
    border: none;
    padding: 10px 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #888;
    font-size: 19px;
    font-weight: 1px;
}

.addBtn:hover {
    background-color: #2885ff;
}

.controlsWrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /* aligns top of items */
    margin-bottom: 20px;
}

.showEntries {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    align-items: center;
    font-size: 15px;
}

.select1 {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
}

.table th,
.table td {
    text-align: left;
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

.table thead {
    background-color: #e5e7eb;
}

.search {
    padding: 6px 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.logo {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.status {
    padding: 6px 12px;
    border-radius: 12px;
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
    width: 80px;
    /* ✅ Set a fixed width */
    text-align: center;
}

.active {
    background-color: #ccf5f8;
    color: #00bcd4;
}

.inactive {
    background-color: #fdecea;
    color: #f44336;
}

.editBtn,
.deleteBtn,
.inactiveBtn,
.activeBtn {
    margin-right: 6px;
    padding: 6px 12px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 12px;
    cursor: pointer;
    min-width: 70px;
}

.editBtn {
    background-color: #f0ad4e;
}

.deleteBtn {
    background-color: #337ab7;
}

.deleteBtn:hover {
    background-color: #216fd4;
}

.inactiveBtn {
    background-color: #e97480;
}

.inactiveBtn:hover {
    background-color: rgb(253, 109, 109);
}

.activeBtn {
    background-color: #5cb85c;
}

.activeBtn:hover {
    background-color: #6bc96b;
}

.pagination {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    align-items: center;
    font-size: 15px;
}

.paginationControls button {
    background: #f0f0f0;
    border: none;
    padding: 6px 10px;
    margin: 0 2px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
}

.pageNumber {
    background: #2563eb;
    color: white;
    padding: 6px 12px;
    border-radius: 4px;
}

.searchLabel {
    display: flex;
    align-items: center;
    gap: 6px;
    font-weight: 500;
    white-space: nowrap;
}

.search {
    padding: 6px 8px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #ccc;
}


/* add-category css */

.addcontainer {
    padding: 30px;
    background-color: #f4f7fa;
    min-height: 100vh;
    font-family: 'Segoe UI', sans-serif;
    width: 1900px;
}

.breadcrumbadd {
    font-size: 20px;
    color: #888;
    margin-bottom: 20px;
    text-align: left;
}

.addbread {
    color: #2563eb;
    font-size: 15px;
}

.addheading {
    font-size: 22px;
    margin-bottom: 25px;
    color: #777;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.addform {
    display: flex;
    flex-direction: column;
}

.addlabel {
    font-weight: 500;
    margin-bottom: 6px;
    margin-top: 15px;
    color: #888;
    text-align: left;
    font-size: 15px;
}

.addinput {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.addtextarea {
    resize: vertical;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.addnote {
    font-size: 12px;
    color: #888;
    margin-top: 5px;
    text-align: left;
}

.addsubmitButton {
    margin-top: 25px;
    padding: 10px 20px;
    background-color: #6c91ee;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    width: 100px;
    font-size: 15px;
}


/* edit-category css */

.editcontainer {
    padding: 20px;
    width: 1600px;
}

.editheader {
    margin-bottom: 20px;
    font-size: 16px;
    text-align: left;
}

.editbreadcrumb {
    color: #999;
    font-size: 19px;
}

.editbreadcrumbActive {
    font-weight: bold;
    color: #3478f7;
    font-size: 15px;
}

.editcard {
    background-color: #fff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    font-weight: 10px;
}

.editcard h3 {
    color: #888;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

.editlabel {
    display: block;
    margin-top: 15px;
    font-weight: 500;
    text-align: left;
    color: #888;
    font-size: 15px;
}

.editinput,
.edittextarea {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.edittextarea {
    min-height: 150px;
}

.edithint {
    font-size: 12px;
    color: #888;
    margin-top: 5px;
    text-align: left;
}

.editimagePreview img {
    margin-top: 10px;
    height: 64px;
    margin-right: 1500px;
}

.editupdateBtn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4285f4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    margin-right: 1500px;
}

.flex1 {
    flex: 1;
    margin-top: 20px;
    text-align: left;
    font-size: 15px;
    color: #888;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.flex1 label {
    text-align: left;
    color: #888;
    font-size: 15px;
}

.note {
    font-size: 15px;
    color: #999;
    margin-top: 4px;
    text-align: left;
}

.jodit-wysiwyg {
    min-height: 200px !important;
    font-size: 14px;
    background-color: #fff !important;
    border-radius: 3px !important;
    border: 1px solid #ccc !important;
}

.jodit-toolbar {
    border-radius: 3px 3px 0 0 !important;
    border: 1px solid #ccc !important;
    border-bottom: none !important;
    background-color: #f5f7fa !important;
    font-size: 13px !important;
}

.addheaderContainer {
    text-align: left;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 17px;
}

.addbreadcrumb {
    color: #999;
}

.addbreadcrumbActive {
    font-weight: 600;
    color: #2885ff;
    font-size: 15px;
}

.addcard {
    background: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.spinner {
    width: 30px;
    height: 30px;
    border: 3px solid #ddd;
    border-top: 3px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin: 0 auto;
    /* center */
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.email-popup {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 30px 20px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    opacity: 0;
    transform: translateY(-20px);
    pointer-events: none;
    transition: all 0.4s ease;
    z-index: 9999;
}

.show {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.success {
    background-color: #daf5e2;
    color: #1a7f37;
}

.error {
    background-color: #f8d7da;
    color: #842029;
}

.hide {
    opacity: 0;
    transform: translateY(-20px);
    pointer-events: none;
}