.container {
    display: flex;
    flex-direction: column;
    /* Full viewport height */
    width: 200%;
    padding: 20px;
    background-color: #f4f6f9;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.headerContainer {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;
    border-radius: 8px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 24px;
}

.controls {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    align-items: center;
    font-size: 15px;
}

.select {
    margin: 0 10px;
    padding: 6px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #888;
    font-size: 19px;
    font-weight: 1px;
}

.breadcrumbActive {
    font-size: 14px;
    color: #2563eb;
    font-weight: 500;
}

.pageTitle {
    text-align: left;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #888;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    font-size: 14px;
    color: #888;
    text-align: left;
}

.card {
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 16px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.table th,
.table td {
    padding: 12px 10px;
    border-bottom: 1px solid #e5e7eb;
    text-align: left;
}

.table thead {
    background-color: #e5e7eb;
}

.viewText {
    color: rgb(86, 75, 241);
    cursor: pointer;
    font-size: 13px;
}


/* --- Modal Styles --- */

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modalBox {
    background-color: #fff;
    padding: 20px;
    border-radius: 12px;
    width: 500px;
    max-width: 90%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    position: relative;
}

.modalHeader h3 {
    margin: 0;
    text-align: left;
    font-size: 18px;
    font-weight: 600;
    color: #333;
}

.modalBody {
    margin-top: 10px;
    text-align: left;
    font-size: 14px;
    color: #555;
}

.modalFooter {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}

.closeBtn {
    background-color: #1b274e;
    color: white;
    border: none;
    padding: 6px 14px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 13px;
}

.closeBtn:hover {
    background-color: #1b1555f1;
}

.pagination {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    align-items: center;
    font-size: 15px;
}

.paginationControls button {
    background: #f0f0f0;
    border: none;
    padding: 6px 10px;
    margin: 0 2px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
}

.pageNumber {
    background: #2563eb;
    color: white;
    padding: 6px 12px;
    border-radius: 4px;
}