.profileContainer {
    display: flex;
    flex-direction: column;
    /* Full viewport height */
    width: 200%;
    padding: 20px;
    background-color: #f4f6f9;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.headerContainer {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;
    border-radius: 8px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 24px;
}

.breadcrumb {
    font-size: 18px;
    color: #6b7280;
}

.breadcrumbActive {
    font-size: 14px;
    color: #2563eb;
    font-weight: 500;
}

.card {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 30px;
}

.leftCard {
    width: 500px;
    background: #fff;
    border-radius: 8px;
    padding: 30px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    height: 500px;
}

.profileImage {
    width: 220px;
    height: 220px;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
    /* Important */
    border: 1px solid #e5e5e5;
    background-color: #d1d1d1;
    /* optional border */
}

.userImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* keeps image proportions */
    border-radius: 50%;
}

.userName {
    margin-top: 10px;
    font-size: 22px;
    font-weight: 600;
}

.userEmail {
    color: #444;
    font-size: 15px;
    margin-top: 10px;
}

.rightCard {
    width: 1000px;
    background: #fff;
    padding: 35px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    height: 500px;
    justify-content: flex-start;
    align-items: flex-start;
}

.title {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: left;
}

.formGroup {
    margin-bottom: 18px;
    display: flex;
    flex-direction: column;
}

.formGroup label {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 6px;
    text-align: left;
}

.formGroup input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 15px;
    width: 100%;
}

.updateBtn {
    background-color: #3b82f6;
    color: white;
    padding: 10px 25px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    align-self: flex-start;
}

.updateBtn:hover {
    background-color: #3f76e4;
}