/* styles/franchiseFees.module.css */

.container {
    display: flex;
    flex-direction: column;
    /* Full viewport height */
    width: 200%;
    padding: 20px;
    background-color: #f4f6f9;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.headerContainer {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;
    border-radius: 8px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 24px;
}

.breadcrumb {
    font-size: 18px;
    color: #6b7280;
}

.breadcrumbActive {
    font-size: 14px;
    color: #2563eb;
    font-weight: 500;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.05);
}

.controls {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    align-items: center;
    font-size: 15px;
}

.select {
    margin: 0 10px;
    padding: 6px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search {
    padding: 6px 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.title {
    margin: 0;
    font-size: 25px;
    font-weight: 500;
    text-align: left;
    color: #888;
}


/* Table Wrapper */

.tableWrap {
    overflow-x: auto;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.08);
    padding: 10px;
}


/* Table Styles */

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    font-size: 14px;
    color: #888;
    text-align: left;
}

.table th,
.table td {
    padding: 12px 10px;
    border-bottom: 1px solid #e5e7eb;
    text-align: left;
}

.table tbody tr:hover {
    background: #f9fafb;
}

.pagination {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    align-items: center;
    font-size: 15px;
}

.paginationControls button {
    background: #f0f0f0;
    border: none;
    padding: 6px 10px;
    margin: 0 2px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
}

.pageNumber {
    background: #2563eb;
    color: white;
    padding: 6px 12px;
    border-radius: 4px;
}


/* Responsive Design */

.amountBadge {
    background-color: #51e983;
    /* Light green */
    color: #ffffff;
    /* Dark green text */
    padding: 2px 12px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 14px;
    display: inline-block;
    text-transform: capitalize;
}