.container {
    display: flex;
    flex-direction: column;
    /* Full viewport height */
    width: 200%;
    padding: 20px;
    background-color: #f4f6f9;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.headerContainer {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;
    border-radius: 8px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 24px;
}

.breadcrumb {
    font-size: 18px;
    color: #6b7280;
}

.breadcrumbActive {
    font-size: 14px;
    color: #2563eb;
    font-weight: 500;
}

.title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
    text-align: left;
    color: #888;
}

.addform {
    background: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    width: 1600px;
    margin-top: 20px;
}

.formGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.field {
    display: flex;
    flex-direction: column;
}

.field label {
    font-weight: 500;
    margin-top: 15px;
    margin-bottom: 5px;
    text-align: left;
    color: #888;
    font-size: 15px;
}

.field input {
    padding: 10px;
    border: 1px solid #bbb;
    border-radius: 6px;
    outline: none;
}

.field input:focus {
    border-color: #007bff;
}

.docBox {
    background: white;
    padding: 25px;
    margin-top: 25px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.docBox h2 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
    text-align: left;
    color: #888;
}

.docGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
}

.updateBtn {
    margin-top: 25px;
    padding: 12px 25px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

.updateBtn:hover {
    background: #005fcc;
}

.kycRow {
    display: flex;
    gap: 20px;
    margin-top: 10px;
}

.kycBox {
    flex: 1;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    background: #fff;
}

.previewBox {
    width: 100%;
    height: 130px;
    border: 1px dashed #aaa;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    border-radius: 8px;
    background: #f8f8f8;
}

.previewImg {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.fileInput {
    display: none;
}

.chooseBtn {
    display: inline-block;
    background: #636566;
    color: white;
    padding: 8px 14px;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 5px;
    font-size: 14px;
}

.chooseBtn:hover {
    background: #28292b;
}


/* Responsive */

@media (max-width: 768px) {
    .kycRow {
        flex-direction: column;
    }
}