.container {
    display: flex;
    flex-direction: column;
    /* Full viewport height */
    width: 200%;
    padding: 20px;
    background-color: #f4f6f9;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.headerContainer {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;
    border-radius: 8px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 24px;
}

.breadcrumb {
    font-size: 18px;
    color: #6b7280;
}

.breadcrumbActive {
    font-size: 14px;
    color: #2563eb;
    font-weight: 500;
}

.bold {
    font-weight: 400;
    font-size: 19px;
}

.link {
    color: #2563eb;
}

.card {
    background: #fff;
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.cardHeader h2 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 16px;
    color: #b9b9b9;
    text-align: left;
}

.addBtn {
    background: #3b82f6;
    color: #fff;
    padding: 8px 16px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: 15px;
}

.addBtn:hover {
    background: #2563eb;
}

.controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    font-size: 14px;
}

.select,
.search {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 4px 8px;
    font-size: 14px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
}

.table th,
.table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
    vertical-align: top;
}

.table thead {
    background-color: #e5e7eb;
}

.activeStatus {
    background: #22c55e;
    color: #fff;
    padding: 3px 6px;
    border-radius: 12px;
    font-size: 12px;
}

.inactiveStatus {
    background: #ef4444;
    color: #fff;
    padding: 3px 6px;
    border-radius: 12px;
    font-size: 12px;
}

.editBtn {
    background: #f59e0b;
    color: #fff;
    padding: 6px 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-right: 8px;
    font-size: 16px;
}

.editBtn:hover {
    background: #d97706;
}

.statusBtn {
    background: #22c55e;
    color: #fff;
    border: none;
    padding: 4px 12px;
    margin-right: 4px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    display: inline-block;
    min-width: 100px;
}

.statusBtn:hover {
    background-color: #37a760;
}

.activeBtn {
    background: #22c55e;
    color: #fff;
}

.activeBtn:hover {
    background: #16a34a;
}


/* Inactive button (red) */

.inactiveBtn {
    background: #ef4444;
    color: #fff;
}

.inactiveBtn:hover {
    background: #dc2626;
}

.mediaBtn {
    background-color: #3a4b63;
    color: #fff;
    border: none;
    padding: 4px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.mediaBtn:hover {
    background-color: #303a49;
}

.pagination {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    align-items: center;
    font-size: 15px;
}

.paginationControls button {
    background: #f0f0f0;
    border: none;
    padding: 6px 10px;
    margin: 0 2px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
}

.pageNumber {
    background: #2563eb;
    color: white;
    padding: 6px 12px;
    border-radius: 4px;
}


/* add-package css */

.wrapper {
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
}

.addcard {
    background-color: #fff;
    border-radius: 10px;
    padding: 25px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    width: 1500px;
    margin: 0 auto;
}

.addcard h2 {
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 600;
    text-align: left;
    color: #888;
}

.addform {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.addform label {
    font-weight: 500;
    font-size: 15px;
    text-align: left;
    color: #777;
}

.addform input,
.addform select {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.addform small {
    font-size: 12px;
    color: #777;
    text-align: left;
}

.submitBtn {
    background: #2563eb;
    color: #fff;
    padding: 10px 16px;
    border: none;
    border-radius: 6px;
    margin-top: 16px;
    cursor: pointer;
    font-size: 15px;
    width: 100px;
}

.submitBtn:hover {
    background: #1d4ed8;
}

.flex1 {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.flex1 label {
    font-weight: 600;
    margin-bottom: 8px;
}

.jodit-wysiwyg {
    min-height: 200px !important;
}

.jodit-container {
    border: 1px solid #ccc !important;
    border-radius: 6px !important;
    overflow: hidden;
}

.text {
    text-align: left;
    font-size: 14px;
}