.container {
    display: flex;
    padding: 40px 20px;
    margin: 0 auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* Sidebar */

.sidebar {
    width: 290px;
    border: 1px solid #ddd;
    padding: 20px;
    height: 400px;
    margin-top: 40px;
    margin-left: 350px;
}

.logo {
    color: orange;
    margin-bottom: 15px;
}

.navList {
    list-style: none;
    padding: 0;
}

.navList li {
    padding: 15px 0;
    border-bottom: 1px dotted #ccc;
    cursor: pointer;
    font-size: 15px;
}

.navList li:hover {
    color: #0070f3;
}


/* Main Content */

.main {
    flex: 1;
    margin-left: 4px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px 20px;
    max-width: 800px;
}


/* Account Info */

.accountInfo {
    border: 1px solid #ddd;
    padding: 20px;
    width: 50;
    height: 200px;
}

.accountInfo h3 {
    border-bottom: 1px solid #ccc;
    padding: 6px 0;
}

.accountInfo p {
    padding: 5px 0;
}


/* Stats Cards */

.stats {
    display: flex;
    gap: 20px;
}

.statCard {
    flex: 1;
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    border-radius: 6px;
    width: 50px;
    height: 280px;
}

.circle {
    width: 150px;
    height: 150px;
    margin: 0 auto 10px;
    border: 10px solid #00bcd4;
    /* blue color */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.statCard:nth-child(2) .circle {
    border-color: #333;
    /* black circle */
}

.number {
    font-weight: bold;
    font-size: 18px;
}