.container {
    display: flex;
    padding: 40px 20px;
    margin: 0 auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* Sidebar */

.sidebar {
    width: 290px;
    border: 1px solid #ddd;
    padding: 20px;
    height: 400px;
    margin-top: 40px;
    margin-left: 350px;
}

.logo {
    color: orange;
    margin-bottom: 15px;
}

.navList {
    list-style: none;
    padding: 0;
}

.navList li {
    padding: 15px 0;
    border-bottom: 1px dotted #ccc;
    cursor: pointer;
    font-size: 15px;
}

.navList li:hover {
    color: #f38a00;
}

.mainContent {
    flex: 1;
    margin-left: 4px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px 20px;
    max-width: 800px;
}

.profileTitle {
    margin-bottom: 20px;
    border-bottom: 1px dotted #ccc;
    padding: 15px 0;
}

.profileBox {
    border: 1px solid #ddd;
    padding: 20px;
    width: 50;
    height: auto;
}

.profilePicSection {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.profileCircle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    overflow: hidden;
}

.profileCircle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.uploadBtn {
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    background-color: #f37500;
    color: white;
    cursor: pointer;
    font-size: 15px;
    margin-left: 20px;
}

.uploadBtn:hover {
    background-color: #f89320;
}

.formGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.formLeft,
.formRight {
    display: flex;
    flex-direction: column;
}

.formLeft input,
.formRight input,
select {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #000000;
    height: 45px;
}

.saveBtnSection {
    margin-top: 20px;
    text-align: right;
}

.saveBtn {
    background-color: #f37500;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
    margin-right: 1000px;
}

.saveBtn:hover {
    background-color: #f89626;
}